@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Roboto+Slab:wght@100..900&display=swap');
.nav{
  font-size: 2em;
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  padding: 30px;
  box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.5);
}